/* 
    GUÃA DE ESTILOS
    0. RESET
    1. LAYOUT
    2. GENERIC ITEMS
    3. PARTS OF THE WEB
    4. ANIMATIONS
    ------------------------
    COLORES
    color1 -> 
    color2 -> 
    color3 -> 
    color4 ->
    color5 ->
    ------------------------
    FUENTES
    fuente1 -> Open Sans
    fuente2 -> Roboto
    fuente3 -> Roboto Condensed
    fuente4 -> Hind Madurai
*/

/* 0.RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1.BLOQUES */

html {
  scroll-behavior: smooth;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.content {
  padding: 120px 0px;
}

body {
  text-align: center;
  font: 300 15px/1.7 "Open Sans";
  letter-spacing: 0.2px;
}

.navbar {
  background-color: black;
  font: 20px "Hind Madurai";
 }

.inicio {
  background-color: black;
  color: white;
}

.inter-inicio-quienes {
  background-image: url(img/9.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color:white;
  padding: 40px 0px;
  position: relative;
}

.inter-inicio-quienes::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.quienes {
  background-color: rgb(230, 230, 230);
  color: rgb(55, 55, 55);
  border-bottom: 1px solid rgb(187, 187, 187);
}

.services {
  background-color: rgb(230, 230, 230);;
  color: black;
}

.inter-servicio-contacto {
  background-image: url(img/8.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 70px 0px;
}

.inter-servicio-contacto::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.contacto {
  background-color: rgb(230, 230, 230);
  color: black;
}

footer {
  font: 300 17px/1.5 "Hind Madurai";
  background-color: black;
  color: white;
}

/* 2.ELEMENTOS */

h1 {
  font: 40px "Hind Madurai";
  text-transform: uppercase;
  margin-bottom: 30px;
}

.linea {
  position: relative;
  z-index: 1;
}

.linea:before {
  border-top: 2px solid #bbbbbb;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  z-index: -1;
}

.linea span {
  background: rgb(230, 230, 230);
  padding: 0 15px;
}

h2 {
  font: 35px "Hind Madurai";
  color: currentColor;
  padding: 20px;
}

h3 {
  font: 25px "Open Sans";
  color: currentColor;
  padding:20px;
}

.area-top {
  padding-left: 160px;
  padding-right: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-brand {
  color: white!important;
}

.nav-link {
  color: white!important;
  margin-left: 20px;
  transition: 0.7s;
}

.nav-link:hover {
  color: rgb(255, 168, 158)!important;
}

.btn-menu {
  color: #FFF;
  font-size: 25px;
}

.carousel-item {
  max-height: 460px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.quienes-somos {
  padding: 20px;
  text-align: left;
  position: relative;
}

.quienes-somos::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  bottom: 0;
  right: 0;
}

.quienes-somos::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-top: 1px solid currentColor;
  border-left: 1px solid currentColor;
  top: 0;
  left: 0;
}

.animado {
  opacity: 0;
  transition: all 1s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

.caja {
  font: 300 15px/1.5 'Roboto';
  margin: 20px 0px;
  color: white;
  text-align: left;
}

.borde-caja {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.img-servicio {
  border-radius: 15px 15px 0px 0px;
}

.caja-contacto {
  text-align: left;
  padding: 35px;
  border-left: 1px solid black;
}

.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  z-index:999;
  box-shadow: 1px 1px 4px black;
}

.btn-whatsapp:hover {
  box-shadow: none;
  opacity: 85%;
}

#scroll {
  position:fixed;
  right:30px;
  bottom:100px;
  width:40px;
  height:40px;
  background-color:#000000;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
}

#scroll span { 
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}

#scroll:hover {
  background-color:#777777;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}

/* 3.ANIMATIONS */

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}