/* 
    GUÃA DE ESTILOS
    0. RESET
    1. BLOQUES
    2. ELEMENTOS
    3. ANIMATIONS
    ------------------------
    COLORES
    color1 -> 
    color2 -> 
    color3 -> 
    color4 ->
    color5 ->
*/

/* 0.RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1.BLOQUES */

body {
text-align: center;
font: 300 20px/1.7 "Roboto Condensed";
}

.navbar {
background-color: white;
}

html {
  scroll-behavior: smooth;
}

.row {
  margin-right: 0px;
}

.container-fluid {
  padding-right: 0px;
}

.container {
  padding-right: 0px;
}

.content {
  padding: 60px 0px;
}

.who {
  background-color: darkcyan;
  /* background-image: url(img/8.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  color:white;
}

.services {
  /* background-image: url(img/6.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center; */
  background-color: rgb(170, 164, 164);
  color: white;
  min-height: 650px;
  text-shadow: 0px 0px 10px black;
  padding-bottom: 10px;
}

.contact {
  /* background-color: gold; */
  background-image: url(img/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  height: 400px;
}

footer {
  font-size:medium;
  background-color: black;
  color: white;
  height: auto;
}

/* 2.ELEMENTOS */

.area-top {
  padding-left: 160px;
  padding-right: 120px;
}

.logoMenu {
  max-height:55px;
}

.nav-link {
  color: black!important;
  margin-left: 20px;
}

.nav-link:hover {
  color: rgba(230, 197, 11, 0.863)!important;
}

h1 {
  padding: 10px;
  font: 30px "Roboto Condensed";
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 10px black;
}

.carousel-item {
  height: 100%;
  max-height: 450px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.quienes-somos {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* .animado {
  opacity: 0;
  transition: all 1s;
}

.mostrarArriba {
  animation: mostrarArriba 2s;
} */

.contenedor-servicios {
  justify-content: center;
  margin-top: 30px;
}

.servicio {
  height: 220px;
  transition: 0.5s;
  border-radius: 2%;
  padding: 15px;
}

.servicio:hover {
  height: auto;
  border-radius: 8%;
  background-color: black;
}

.servicio p {
  display: none;
  font-size: 15px;
}

.servicio:hover p {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  animation-duration: 2s;
  animation-name: servicios;
}

.servicio:hover h2 {
  color: gold;
}

.caja {
  margin: 20px 0px;
}

.borde-caja {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px white;
}

.img-servicio {
  border-radius: 15px 15px 0px 0px;
}

.card-header {
  text-transform: uppercase;
  border-bottom: 0.3px solid white;
}

.contenido-caja-contacto {
  align-self: center;
  text-align: left;
}

/* .caja-formulario {
  padding: 20px;
  background-color: black; 
}

.form-group {
  margin-left: auto;
  margin-right: auto;
} */

.contenedor-footer {
  margin-top: 20px;
}

.contenido-footer {
  margin-top: 10px;
}

.ubicacion a{
  text-decoration: none;
  color: white;
  font-size: large;
}

.icono-redes {
  margin-left: 5px;
}

.icono-redes:hover {
  opacity: 85%;
}

.footer-principal {
  min-height: 250px;
}

.footer-legal {
  font-size: x-small;
  margin-top: 20px;
}

.footer-legal a {
  text-decoration: none;
  color: white;
}

.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  z-index:999;
  box-shadow: 1px 1px 4px black;
}

.btn-whatsapp:hover {
  box-shadow: none;
  opacity: 85%;
}

/* 3.ANIMATIONS */

@keyframes servicios {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}


/* @keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
} */
