/* 
    GUÍA DE ESTILOS
    0. RESET
    1. LAYOUT
    2. GENERIC ITEMS
    3. PARTS OF THE WEB
    4. ANIMATIONS
    ------------------------
    COLORES
    color1 -> 
    color2 -> 
    color3 -> 
    color4 ->
    color5 ->
*/

/* 0.RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1.BLOQUES */

body {
text-align: center;
font: 300 16px/1.7 "Open Sans";
}

.navbar {
  background-color: black;
  font: 20px "Hind Madurai";
}

html {
  scroll-behavior: smooth;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.content {
  padding: 120px 0px;
}

.inter-inicio-quienes {
  background-image: url(img/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 400px;
  color:white;
  display: flex;
  align-items: center;
}

.inter-inicio-quienes::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.6);
}

.who {
  background-color: rgb(230, 230, 230);
  color: rgb(107, 107, 107);
}

.services {
  background-color: white ;
  color: black;
}

.inter-servicio-contacto {
  background-image: url(img/8.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 250px;
}

.contact {
  background-color: rgb(230, 230, 230);
  color: black;
}

.inter-servicio-contacto::before {
  content:'';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(16, 16, 16, 0.6);
}

footer {
  font: 300 18px/1.5 "Roboto Condensed";
  background-color: black;
  color: white;
  height: auto;
}

/* 2.ELEMENTOS */

h1 {
  margin-bottom: 30px;
  font: 40px "Hind Madurai";
  text-transform: uppercase;
}

h2 {
  font: 35px "Hind Madurai";
  color: currentColor;
  padding: 10px;
}

h3 {
  font: 25px "Open Sans";
  color: currentColor;
  padding:20px;
}

h4 {
  font: 20px "Hind Madurai";
  color: currentColor;
}

.area-top {
  padding-left: 160px;
  padding-right: 120px;
}

.navbar-brand {
  color: white!important;
}

.nav-link {
  color: white!important;
  margin-left: 20px;
  transition: 0.6s;
}

.nav-link:hover {
  color: yellowgreen!important;
}

.carousel-item {
  height: 100%;
  max-height: 460px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.items-inicio {
  background-color: black;
  color: white;
  justify-content: center;
  padding: 20px;
  border-bottom: 0.5px solid rgb(155, 155, 155);
  border-top: 0.5px solid rgb(155, 155, 155);
}

.actividades { 
  text-align: left;
}

.quienes-somos {
  padding: 20px;
  text-align: left;
  position: relative;
}

.quienes-somos::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  bottom: 0;
  right: 0;
}

.quienes-somos::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-top: 1px solid currentColor;
  border-left: 1px solid currentColor;
  top: 0;
  left: 0;
}

.tipo-servicio {
  padding: 25px;
}

.animado {
  opacity: 0;
  transition: all 1s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

.contenedor-servicios {
  justify-content: center;
}

.caja {
  font: 300 15px/1.5 'Roboto';
  margin: 20px 0px;
  color: white;
  text-align: left;
}

.borde-caja {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.img-servicio {
  border-radius: 15px 15px 0px 0px;
}

.inter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.caja-contacto {
  text-align: left;
  padding: 30px;
  border-left: 1px solid black;
}

.caja-formulario {
  padding-top: 60px;
}

.form-group {
  margin-left: auto;
  margin-right: auto;
}

.contenedor-footer {
  margin-top: 20px;
}

.contenido-footer {
  margin-top: 10px;
}

.ubicacion a{
  text-decoration: none;
  color: white;
  font-size: large;
}

.icono-redes {
  margin: 0px 5px;
}

.icono-redes:hover {
  opacity: 85%;
}

.footer-principal {
  min-height: 250px;
}

.footer-legal {
  font-size: small;
  padding: 15px;
}

.footer-legal a {
  text-decoration: none;
  color: white;
}

.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  z-index:999;
  box-shadow: 1px 1px 4px black;
}

.btn-whatsapp:hover {
  box-shadow: none;
  opacity: 85%;
}

/* 3.ANIMATIONS */

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}