/* 
    GUÃA DE ESTILOS
    0. RESET
    1. LAYOUT
    2. GENERIC ITEMS
    3. PARTS OF THE WEB
    4. ANIMATIONS
    ------------------------
    COLORES
    color1 -> 
    color2 -> 
    color3 -> 
    color4 ->
    color5 ->
*/

/* 0.RESET */

/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 1.LAYOUT */

body {
text-align: center;
font: 300 20px/1.7 "Roboto Condensed";
}

#menu {
background-color: gold;
color: white;
}

html {
  scroll-behavior: smooth;
}

.row{
  margin-right: 0px;
}

.container-fluid{
  padding-right: 0px;
}


/* 2.GENERIC ITEMS */

.header {
    height: 200px;
    background: black;
}

.title {
  margin-bottom: 40px;
  font: 50px "Oswald";
  text-transform: uppercase;
  text-shadow: 0px 0px 5px black;
}

.carousel-item {
  height: 100%;
  max-height: 400px;
  background: no-repeat center center scroll;
  background-size: cover;
}

h3 {
  padding: 10px;
  font-size: 30px;
  color: yellowgreen;
  text-shadow: 0px 0px 10px black;
}

.tipo-servicio {
  padding: 25px;
}

.animado {
  opacity: 0;
  transition: all 1s;
}

.mostrarArriba {
  animation: mostrarArriba 1s;
}

.caja {
  margin: 20px 0px;
}

.borde-caja {
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 0px 10px black;
}

.img-servicio {
  border-radius: 15px 15px 0px 0px;
}

.card-header {
  color: gold;
  text-transform: uppercase;
  border-bottom: 0.3px solid white;
  
}

.contenido-caja-contacto {
  align-self: center;
  text-align: left;
}

/* 3.PARTS OF THE WEB */

.content {
padding: 80px 0px;
}

.inicio {
  padding: 40px 0px;
  background-color:black;
}

.who {
  background-color: grey;
  color: white;
}

.services {
  background-image: url(img/4.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: white;
}

.contact {
  background-color: grey;
  color: white;
}

.caja-formulario {
  padding: 20px;
  background-color: black; 
}

.form-group {
  margin-left: auto;
  margin-right: auto;
}

footer {
  font-size: small;
  background-color: black;
  color: white;
  min-height: 50px;
}

.ubicacion {
  padding: 10px;
  margin-top: 20px;
}

.ubicacion a{
  text-decoration: none;
  color: white;
}

.redes {
  margin-top: 25px;
}

.redes a{
  padding: 5px;
}

.footer-legal {
  font-size: x-small;
  padding-bottom: 10px;
  padding-top: 30px;
}

.footer-legal a {
  text-decoration: none;
  color: white;
}

.btn-whatsapp {
  display:block;
  width:60px;
  height:60px;
  position: fixed;
  right:20px;
  bottom:20px;
  border-radius:50%;
  line-height:80px;
  z-index:999;
  box-shadow: 1px 1px 4px black;
}

.btn-whatsapp:hover {
  box-shadow: none;
  opacity: 85%;
}

/* 4.ANIMATIONS */

@keyframes mostrarArriba {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}